absl-py==2.1.0
ai4free==0.7
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiohttp-retry==2.9.1
aiosignal==1.3.2
altair==4.2.2
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==25.3.0
backoff==2.2.1
bcrypt==5.0.0
beautifulsoup4==4.13.4
blinker==1.7.0
boto3==1.42.13
botocore==1.42.13
bson==0.5.10
build==1.4.0
cachetools==5.5.2
certifi==2024.2.2
cffi==1.17.1
charset-normalizer==3.3.2
chromadb==1.5.0
click==8.1.7
cloudscraper==1.2.71
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.2.0
curl_cffi==0.11.1
cycler==0.12.1
Deprecated==1.2.18
distro==1.9.0
Django==4.2.11
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
dlib==19.24.9
durationpy==0.10
entrypoints==0.4
et_xmlfile==2.0.0
exceptiongroup==1.3.0
face-recognition==1.3.0
face-recognition-models==0.3.0
faiss-cpu==1.13.0
fastapi==0.128.8
ffmpy==1.0.0
filelock==3.13.3
Flask==3.0.2
flatbuffers==24.3.25
fonttools==4.50.0
frozenlist==1.6.0
fsspec==2024.3.1
gast==0.4.0
gitdb==4.0.12
GitPython==3.1.46
glob2==0.7
google-ai-generativelanguage==0.6.15
google-api-core==2.25.0rc1
google-api-python-client==2.170.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-generativeai==0.8.5
google-pasta==0.2.0
googleapis-common-protos==1.70.0
gradio==4.44.1
gradio_client==1.3.0
greenlet==3.2.4
groq==0.37.1
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.16.0
h5py==3.14.0
html5lib==1.1
httpcore==1.0.9
httplib2==0.22.0
httptools==0.7.1
httpx==0.28.1
huggingface_hub==0.36.2
humanfriendly==10.0
idna==3.6
imageio==2.37.0
importlib_metadata==7.1.0
importlib_resources==6.4.0
itsdangerous==2.1.2
Jinja2==3.1.3
jiter==0.10.0
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
keras==3.10.0
keyboard==0.13.5
kiwisolver==1.4.5
kubernetes==35.0.0
langchain==0.3.27
langchain-core==0.3.83
langchain-groq==0.3.8
langchain-text-splitters==0.3.11
langsmith==0.4.37
lazy_loader==0.4
libclang==18.1.1
lxml==5.4.0
Markdown==3.6
markdown-it-py==3.0.0
markdownify==1.1.0
MarkupSafe==2.1.5
matplotlib==3.8.3
mdurl==0.1.2
mistune==3.1.3
ml_dtypes==0.5.4
mmh3==5.2.0
mpmath==1.3.0
mss==10.0.0
multidict==6.4.3
namex==0.0.7
narwhals==2.16.0
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.9.2
nodriver==0.38.post1
numpy==1.26.4
oauthlib==3.2.2
ollama==0.4.8
onnxruntime==1.19.2
openai==1.82.0
opencv-python==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-grpc==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.18
overrides==7.7.0
packaging==24.0
pandas==2.2.3
pillow==10.2.0
posthog==5.4.0
propcache==0.3.1
proto-plus==1.26.1
protobuf==3.20.3
psutil==7.0.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.3
pycparser==2.22
pydantic==2.11.5
pydantic_core==2.33.2
pydeck==0.9.1
pydub==0.25.1
pygame==2.6.0
Pygments==2.17.2
PyJWT==2.8.0
Pympler==1.1
pyparsing==3.1.2
PyPika==0.51.1
pyproject_hooks==1.2.0
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.20
python-pptx==1.0.2
pytz==2025.2
pywin32==311
PyYAML==6.0.2
random2==1.0.2
referencing==0.36.2
regex==2026.1.15
requests==2.31.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.7.1
rpds-py==0.27.1
rsa==4.9.1
ruff==0.15.0
s3transfer==0.16.0
safetensors==0.7.0
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.13.1
semantic-version==2.10.0
semver==3.0.4
sentence-transformers==5.1.2
shellingham==1.5.4
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.46
sqlparse==0.4.4
starlette==0.49.3
streamlit==1.12.0
sympy==1.12
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
tf_keras==2.20.1
threadpoolctl==3.6.0
tifffile==2024.8.30
tls-client==1.0.1
tokenizer==3.6.2
tokenizers==0.22.2
tokens==0.0.3
toml==0.10.2
tomli==2.4.0
tomlkit==0.12.0
toolz==1.1.0
torch==2.2.2
torchvision==0.17.2
tornado==6.5.4
tqdm==4.67.1
transformers==4.57.6
twilio==9.5.2
typer==0.21.2
typing-inspection==0.4.2
typing_extensions==4.13.2
tzdata==2024.1
tzlocal==5.3.1
uritemplate==4.1.1
urllib3==2.6.3
uuid_utils==0.14.0
uvicorn==0.39.0
validators==0.35.0
watchdog==6.0.0
watchfiles==1.1.1
webencodings==0.5.1
webscout==8.2.8
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.1
wrapt==1.16.0
xlsxwriter==3.2.9
yarl==1.20.0
zipp==3.18.1
zstandard==0.23.0
